nav{
    background-color: green;
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 0px;
    top: 0px;

    width: 365px;
    height: 100%;
}

nav a {
    display: block;
    color: white;
    font-family: 'Lato', sans-serif;
    font-size: 1.1500rem;
    text-decoration: none;
    padding: 20px 4px;
}

nav a.active{
    background-color: rgb(1, 54, 1);
}